ul.social-network li {
			display:inline;
			margin:0px;
		}
		 a.icoRss:hover {
			background-color: #F56505;
		}
		a.icoFacebook:hover {
			background-color:#3B5998;
		}
		a.icoTwitter:hover {
			background-color:#33ccff;
		}
		 a.icoGoogle:hover {
			background-color:#BD3518;
		}
		a.icoVimeo:hover {
			background-color:#0590B8;
		}
		a.icoLinkedin:hover {
			background-color:#007bb7;
		}
		
		a.socialIcon:hover, .socialHoverClass {
			color:#44BCDD;
		}

		.social-circle li a {
			display:inline-block;
			border-radius:50%;
			text-align:center;
			width:25px;
			height:25px;
			font-size:5px;
		}
		.social-circle li i {
			margin:0;
			line-height:15px;
			text-align:center;
		}

		.social-circle li a:hover i, .triggeredHover {
			
			
			
			transform: rotate(360deg);

			transition: all 0.2s;
		}
		.social-circle i {
			color: #fff;
			transition: all 0.8s;
		}

		.social-circle li a {
		 background-color:black;   
		}